<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GymAkam.Properties.Settings.GymAkamConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=GymAkam;User ID=sa;Password=yourStrong(!)Password;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>